@import "./variables.scss";
@import "./Nav.scss";
@import "./Carousel.scss";
@import "./Home.scss";
@import "./Resort.scss";

body {
  margin: 0px;
  font-family: "Ubuntu", sans-serif;
}

.App {
  position: relative;
  margin: 0px;
}
