.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: $blue;
  color: $white;

  .link-wrapper {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;

    &:hover {
      border-top: 1px solid $white;
      border-bottom: 1px solid $white;
    }
  }

  a {
    color: $white;
    text-decoration: none;
  }
}
