.resort-page-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: $black;
  }

  .resort-title {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    color: $black;
    font-size: 2em;
  }

  .weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .trailmap-wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .trailmap-img {
      width: 80vw;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
  }

  .weather-button {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    button {
      background: $white;
      font-size: 1.5em;
      border: 1px solid transparent;
      border-radius: 5px;
      color: $blue;
      transition: 0.5s ease-in-out;
      cursor: pointer;
      outline: none;
      width: 180px;

      &:hover {
        border: 1px solid $blue;
        box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.25);
      }
    }
  }

  .down-arrow {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    color: $blue;
  }

  .cards-wrapper {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .resort-review-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      height: 100px;
      width: 300px;
      border: 2px solid $light-blue;
      box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.25);
      margin-bottom: 50px;

      .categories {
        color: $blue;
        padding: 5px;
      }
    }
  }
}
