.resort-page-wrapper {
  height: 100vh;

  .resort-title {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    color: $black;
    font-size: 2em;
  }

  .weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .trailmap-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;

    .trailmap-img {
      width: 80vw;
    }
  }

  .weather-button {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    button {
      @include extraButton;
      font-size: 1.5em;
    }
  }
}
